body{
    background-image: linear-gradient(to right, red , yellow);
}

form{
    margin-top: 25vh;
    margin-left: 30vw;

}

button{
    background-color: goldenrod;
    border: 2px solid dimgray;
    border-radius: 25px;
}

.container{
    margin-top: 10vh;    
}


.container2{
    margin-left:20vw;
    margin-right:30vw;
    background-color:#343A40 ;  
}

th{ 
    padding:15px 25px 10px 25px;
    font-size: 20px;
    color: white;  
}

td{
    padding:0 20px 0 20px;
    color: white;    
}